*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    padding-top:30px;
}
body{
    padding-top:20px;
    height: 100%;
    background:url("../img/city.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.botao-padrao{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(23, 124, 240);
    border-radius: 15px;
    color: white;
    display:flex;
    align-items:center;
    justify-content:center;
}
.botao-padrao.btn-novo{
    background-color: rgb(69, 197, 80);
}
.botao-padrao.btn-novo:hover{
    background-color: rgb(35, 112, 41);
    transition: 0.35s linear all;
}
.botao-padrao:hover{
    background-color: rgb(21, 98, 185);
    transition: 0.35s linear all;
}

.top-nav{
    position: fixed;
    top:0;
    width: 100%;
    height: 46px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 5%;
    transition: 0.35s linear all;
    overflow: hidden;
    box-shadow: 1px 0  10px 1px rgba(0, 0, 0, 0.521);
    a:hover{
        text-decoration: none;
        color:#DDD;
    }
    div{
        width: 40%;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 20px;
        }
        a{
            color:rgb(44, 44, 44);
        }
        a:hover{
            color:rgb(21, 98, 185);
        }
        
    }
}


.center-page{
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 2fr 1.3fr 0.5fr;
    padding: 2% 20%;
}

.apresentacao{
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 8% 10%;
    box-shadow: 0 0  20px 0.5px rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
    img{
        width: 25%;
        height: 85%;
        margin-right: 10%;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 5%;
        p{
            align-self: flex-end;
        }
    }
}


.main-cidades{
    width: 100%;
    height: 95%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0  20px 0.5px rgba(0, 0, 0, 0.678);
    display: flex;
    .cidade-top{
        width: 33.333%;
        background-blend-mode: multiply;
        padding: 2%;
        color: white;
        div{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 4px 4px 2px rgb(20, 20, 20);
            transition: 0.2s linear all;
        }
    }
    .cidade-top:hover{
        background-blend-mode: normal;
    }
    .cidade-top:hover div{
        width: 90%;
        transition: 0.2s linear all;
    }
    .cidade-top:first-child{
        background: url("../img/louvre.jpg"), rgba(14, 13, 13, 0.411);
        background-size: cover;
        border-right: 2px solid rgba(0, 0, 0, 0.39);
    }
    .cidade-top:nth-child(2){
        background: url("../img/sp.jpg"), rgba(14, 13, 13, 0.411);
        background-size: cover;
    }
    .cidade-top:last-child{
        background: url("../img/ny.jpg"), rgba(14, 13, 13, 0.411);
        background-size: cover;
        border-left: 2px solid rgba(0, 0, 0, 0.39);
    }
}

.info{
    padding:2%;
    width: 100%;
    height:100%;
    background: rgba(12, 12, 12, 0.555);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction:column;
    
    input[type="text"],select,textarea{
        background: rgba(238, 238, 238, 0.815);
        border: 1px solid rgb(189, 189, 189);
    }

    .btn-closeinfo{
        align-self:flex-start;
        border:none;
        color:white;
        background:rgba(0,0,0,0.0);
        font-size: 1.6em;
        transition:0.35s linear all;
    }
    .btn-closeinfo:hover{
        color: rgb(23, 124, 240);
        transition:0.35s linear all;
    }

    .info-box{
        overflow:scroll;
        width: 55%;
        height: 75%;
        background: white;
        padding: 2%;
        h1{
            font-size: 2em;
            height: 30px;
        }
    }
    .box-message{
        height: 35%;
        width: 40%;
        
        margin-top: 15%;
        background-color: rgba(255, 255, 255, 0.842);
        border-radius:50px;
        h1{
            color: rgb(28, 31, 28);
        }
    }
    .box-form{
        overflow: hidden;
    }
    .form-cadastro{  
        padding: 5% 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
	grid-row-gap:10px;
        
        input[type="text"]{
            width: 80%;
            height: 100%;
            padding: 0.5%;
        }
        select{
            width: 80%;
            height: 100%;
            padding: 0.5%;
        }
        div{
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
    }

    .info-subtitle{
        display: flex;
        justify-content: space-between;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        h3{
            font-size: 1em;
            padding: 0 0 0 0.4%;
        }
    }
    .tabela-pontos{
        box-sizing:border-box;
        h2{
            font-size:1.5em;
            padding:2% 2%;
        }
    }
}

.foot{
    width:100%;
    height: 100%;
    background: linear-gradient(to right, #333,rgb(43, 43, 43));
    box-shadow: 0 0  20px 0.5px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    color:white;
    .redes{
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: space-around;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .dev{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }

}


