.ponto{
    display: flex;
    flex-wrap:wrap;
    padding-top: 3%;

    h2{
        width: 100%;  
    }
    div{
        width: 100%;
        display:flex;
        flex-wrap: wrap;

        h3{
            width: 100%;
        }
        h5{
            margin-right: 10px;
            margin-left: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 4px;
        }
        p{
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}
.post-comentario{
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    
    textarea{
        width: 80%;
        height: 60%;
        align-self: center;
        padding: 1%;
    }
    div{
        width: 38%;
        display: flex;
        justify-content: space-between;
    }
}
.list-comentarios{
    display: flex;
    flex-direction: column;
    
    .box-comentario{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1%;
        border-top: 1px solid rgb(161, 161, 161);
        margin-bottom: 10px;
        div{
            display: flex;
            width: 45%;
            flex-direction: column;
            h6{
                font-size: 1.3em;
            }
        }
        .btn-del-comentario{
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
            background: rgb(231, 16, 16);
            color: white;
            font-size: 1em;
            width: 23px;
            height: 22px;
        }
    }
}